.design {
    &__background {
        width: 1065px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -50px;
    }
    &__card {
        position: absolute;
        left: 160px;
        bottom: 200px;
    }
}