.security {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &__container {
        margin-top: 400px;
        &__cercle {
            display: flex;
            transform: rotateX(100deg);
            &__item {
                width: 1000px;
                height: 300px;
                border-radius: 50%;
                background: #FEF4F5;
                position: relative;
                &::after {
                    content: '';
                    top: 0;
                    left: 0;
                    position: absolute;
                    z-index: -1;
                    display: block;
                    border: 40px solid $color__primary;
                    opacity: .5;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    animation-name: pulse_loop;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    will-change: transform, opacity;
                    transform: scale(.1);
                }
                &::before {
                    top: 0;
                    left: 0;
                    content: '';
                    position: absolute;
                    z-index: -1;
                    display: block;
                    border: 40px solid $color__primary;
                    opacity: .1;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    animation-name: pulse_loop;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    will-change: transform, opacity;
                    animation-delay: .8s;
                    transform: scale(.1);
                }
                @keyframes pulse_loop {
                    0% {
                        transform: scale(1);
                        opacity: .1;
                    }
                    100% {
                        transform: scale(1.8);
                        opacity: 0;
                    }
                }
            }
        }
        &__radar {

        }
        &__card {
            position: absolute;
            top: 160px;
            right: 160px;
        }
    }
}