@import './base/fonts.scss';
@import './base/reset.scss';
@import './base/var.scss';

@import './modules/menu.scss';
@import './modules/nav.scss';
@import './modules/identity.scss';

@import './pages/home.scss';

body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    right: 100%;
    overflow: hidden;
}