.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
    &__active {
        display: flex;
    }
    &__logo {
        position: absolute;
        top: 80px;
        left: 80px;
        width: 160px;
        &__img {
            width: 100%;
        }
    }
    &__copyright {
        position: absolute;
        bottom: 77px;
        left: 80px;
        font-family: Avenir-book;
        font-size: 16px;
        color: $color__txt;
    }
    &__social {
        position: absolute;
        bottom: 80px;
        right: 80px;
        &__item {
            width: 15px;
            margin-left: 15px;
            &::after {
                font-family: FontAwesome;
                font-size: 18px;
                color: $color__txt;
                transition-duration: .3s; 
            }
            &:nth-child(1)::after { content: '\f082'; }
            &:nth-child(1):hover::after { color: #3B5998; }
            &:nth-child(2)::after { content: '\f081'; }
            &:nth-child(2):hover::after { color: #00aced; }
            &:nth-child(3)::after { content: '\f16d'; }
            &:nth-child(3):hover::after { color: #bc2a8d; }
            &:nth-child(4)::after { content: '\f0e0'; }
            &:nth-child(4):hover::after { color: $color__primary; }
        }
    }
    &__container {
        & ul li {
            margin-bottom: 25px;
        }
        &__item {
            font-family: Avenir-Black;
            font-size: 40px;
            color: $color__txt;
            transition-duration: .2s;
            position: relative;
            &:hover {
                color: $color__primary;
            }
            &__active {
                color: $color__primary;
                &::after {
                    content: '\f178';
                    font-family: FontAwesome5Regular;
                    position: absolute;
                    top: 7px;
                    left: -55px;
                    font-size: 40px;
                }
            }
        }
    }
    &__close-btn {
        position: absolute;
        top: 75px;
        right: 80px;
        font-family: Avenir-Heavy;
        font-size: 15px;
        color: $color__primary;
        &::after {
            content: '\f178';
            font-family: FontAwesome5Regular;
            margin-left: 10px;
            position: relative;
            bottom: -3px;
        }
    }
    &__btn {
        position: absolute;
        top: 80px;
        right: 80px;
        height: 50px;
        &:hover &__icon::before {
            transform: translateY(-16px)
        }
        &:hover &__icon::after {
            transform: translateY(-32px)
        }
        &__icon {
            height: 5px;
            width: 42px;
            background-color: $color__primary;
            display: block;
            margin-bottom: 3px;
            margin-top: 24px;
            position: relative;
            &::before {
                content: '';
                height: 5px;
                width: 42px;
                background-color: $color__primary;
                display: block;
                position: absolute;
                left: 0;
                top: 0px;
                transform: translateY(-12px);
                transition-duration: .3s;
            }
            &::after {
                content: '';
                height: 5px;
                width: 42px;
                background-color: $color__primary;
                display: block;
                position: absolute;
                left: 0;
                top: 0px;
                transform: translateY(-24px);
                transition-duration: .3s;
                transition-delay: .1s;
            }
        }
        &__title {
            margin-left: -1px;
            font-size: 14px;
            text-transform: uppercase;
            color: $color__primary;
            font-family: Avenir-Black;
            font-size: 14px;
        }
    }
}